<div id="<%= dom_id invite %>">
  <p>
    <strong>Admin:</strong>
    <%= invite.admin_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= invite.company_id %>
  </p>

  <p>
    <strong>Deactivated at:</strong>
    <%= invite.deactivated_at %>
  </p>

</div>
