<div id="<%= dom_id invite %>" class="invite-container">
  <p class="invite-item">
    <strong>Admin:</strong>
    <%= Admin.find(invite.admin_id).email %>
  </p>

  <p class="invite-item">
    <strong>Company:</strong>
    <%= Company.find(invite.company_id).name %>
  </p>

  <p class="invite-item">
    <strong>Deactivated at:</strong>
    <%= invite.deactivated_at %>
  </p>
</div>
