<p class="notice"><%= notice %></p>

<% content_for :title, "Invites" %>

<h1>Invites</h1>

<div id="invites">
  <% @invites.each do |invite| %>
    <div>
      <%= render invite %>
      <p>
        <%= link_to "Show this invite", invite, class: "btn" %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New invite", new_invite_path, class: "btn btn-primary" %>