/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .notice {
  color: green;
  margin-bottom: 16px;
}

 .invite-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.invite-item {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 8px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  text-align: center;
}

.btn-primary {
  background-color: #28a745;
}

.btn-warning {
  background-color: #f0ad4e;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-warning:hover {
  background-color: #ec971f;
}